.checkoutProduct {
    display: flex;
    margin: 20px 0;
}

.checkoutProduct_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct_info {
    padding-left: 20px;
    margin-top: 35px;
}

.checkoutProduct_title {
    font-size: 17px;
    font-weight: 800;
}

.checkoutProduct_rating {
    display: flex;
}

.checkoutProduct_info > button {
    background : #f0c14b;
    border: 1px solid;
    margin-top: 20px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}